<%- include("partials/header") -%>
<%- include("navbar") -%>

<div class="container my-5">
    <div class="p-5 my-5 bg-body-secondary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Cattelog</h1>
            <p class="col-md-8 fs-4">Number of Projects : <%= itemList.length %> </p>
            <!-- <p class="col-md-8 fs-4">Orders pending : <%= orderList.length %></p> -->
            <!-- <p class="col-md-8 fs-4">Orders completed : </p> -->
            <!-- <a href="/admin/orders" class="btn btn-secondary btn-lg"  type="button">Check orders</a> -->
            <a href="/home" class="btn btn-secondary btn-lg"  type="button">Home page</a>
        </div>
    </div>
</div>

<div class="album my-3 py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <!-- <%- include("items") -%> -->

            <% if(itemList){ %>
                <% itemList.forEach(function(item){ %>
                <div class="col">
                    <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="img/<%= item.image.data %>" role="img" alt="<%= item.image.data %>">
                        <div class="card-body">
                            <p class="card-text"><%= item.name %></p>
                            <p class="card-text description-overflow"><%= item.description %></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/admin/projects/<%= item._id %>" class="btn btn-sm btn-outline-secondary">Details</a>
                                </div>
                                <!-- <small class="text-body-secondary">Price : <span class="fw-bold"> <%= item.price %>₹ </span></small> -->
                                <small class="text-body-secondary">College: <span class="fw-bold"> <%= item.college %> </span></small>
                                <small class="text-body-secondary">Date: <span class="fw-bold"> <%= new Date(item.createdAt).toLocaleDateString() %> </span></small>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            <% }else{ %>
                <h1>No Items for sale </h1>
            <% } %>

            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Add image</text></svg>
                    <div class="card-body">
                        <p class="card-text fw-bold">Add project</p>
                        <p class="card-text description-overflow fw-bold">Add project to your inventory</p>
                        <div class="d-flex justify-content-between">
                            <a href="/additem" class="btn btn-sm btn-outline-secondary px-5 mx-auto"><p class="fw-bold m-0">Add</p></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<%- include("partials/footer") -%>