<%- include("partials/header") -%>
<%- include("navbar") -%>

<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse d-flex justify-content-evenly" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <form action="/subject" method="post" class="container">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Subjects
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item btn" type="submit" name="subject" href="/home">All</a></li>
                                <li><button class="dropdown-item" type="submit" name="subject" value="Electronics">Electronics</button></li>
                                <li><button class="dropdown-item" type="submit" name="subject" value="WebDev">Web develoment</button></li>
                                <li><button class="dropdown-item" type="submit" name="subject" value="ML">Machine Learning</button></li>
                            </ul>
                        </li>
                    </form>
                    <form action="/grade" method="post" class="container">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Grade
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item btn" type="submit" name="subject" href="/home">All</a></li>
                                <li><button class="dropdown-item" type="submit" name="grade" value="UG">Undergrad</button></li>
                                <li><button class="dropdown-item" type="submit" name="grade" value="PG">Postgrad</button></li>
                                <li><button class="dropdown-item" type="submit" name="grade" value="PHD">PHD</button></li>
                            </ul>
                        </li>
                    </form>
                </ul>
                <div class="d-flex justify-content-evenly">
                    <!-- <form class="d-flex me-2" role="search" action="usn" method="post">
                        <input class="form-control me-2" type="search" name="usn" placeholder="Search by USN" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">USN</button>
                    </form> -->
                    <form class="d-flex" role="search" action="college" method="post">
                        <input class="form-control me-2" type="search" name="college" placeholder="Search by College" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">College</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="album my-3 py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <!-- <%- include("items") -%> -->
            <% console.log(itemList) %>

            <% if(itemList.length != 0){ %>
                <% itemList.forEach(function(item){ %>
                    <div class="col">
                        <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="img/<%= item.image.data %>" role="img" alt="<%= item.image.data %>">
                            <div class="card-body">
                                <p class="card-text"><%= item.name %></p>
                                <p class="card-text description-overflow"><%= item.description %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/projects/<%= item._id %>" class="btn btn-sm btn-outline-secondary">Details</a>
                                    </div>
                                    <small class="text-body-secondary">College : <span class="fw-bold"> <%= item.college %> </span></small>
                                    <small class="text-body-secondary">Date: <span class="fw-bold"> <%= new Date(item.createdAt).toLocaleDateString() %> </span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% }else{ %>
                <h1>No Items available </h1>
            <% } %>

        </div>
    </div>
</div>

<%- include("partials/footer") -%>
