<%- include("partials/header") -%>
<%- include("navbar") -%>

    <div class="container mt-5 pt-3">
        <% if(item){ %>
            <div class="p-3 shadow-sm">
                <img class="bd-placeholder-img card-img-top img-fluid" src="/img/<%= item.image.data %>" role="img"
                    alt="<%= item.image.data %>">
                <div class="card-body mt-2">
                    <p class="card-text fs-3 fw-bold font-monospace">
                        <%= item.name %>
                    </p>
                    <p class="card-text description">
                        <%= item.description %>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- <div class="btn-group">
                            <a href="javascript:window.history.back()"
                                class="btn btn-sm btn-outline-secondary">Back</a>
                        </div> -->
                        <!-- <small class="text-body-secondary">Price: <span class="fw-bold">
                                <%= item.price %>₹
                            </span></small> -->
                        <small class="text-body-secondary">College: <span class="fw-bold">
                                <%= item.college %>
                            </span></small>
                            <% if(item.link != null){ %>
                                <a href="<%= item.link %>" class="btn btn-outline-secondary fw-bold" target="_blank"> Git Hub </a>
                            <%}%>
                    </div>
                    <div class="btn-group mt-3">
                        <a href="javascript:window.history.back()"
                            class="btn btn-sm btn-outline-secondary">Back</a>
                    </div>
                </div>
            </div>
        <% }else{ %>
            <h1>Project details note available.</h1>
        <% } %>
    </div>

    <!-- please recheck this form and make it once again. -->

    <!-- can include contact.ejs for contact -->
    

<%- include("partials/footer") -%>